<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ClientSecret" value="SBX-6f47782787e0-7382-4739-ad12-c83f"/>
		<add key="ClientID" value="BayProsp-Prospect-SBX-e6f477827-9e5de69e"/>
		<add key="TokenURL" value="https://api.sandbox.ebay.com/identity/v1/oauth2/token"/>
		<add key="SearchURL" value="https://api.sandbox.ebay.com/buy/browse/v1/item_summary/search"/>


		<add key="affiliateCampaignId" value="111111"/>
		<add key="affiliateReferenceId" value="123"/>
		<add key="country" value="91"/>
		<add key="zip" value="123"/>
		<add key="deviceId" value="123"/>
	</appSettings>
</configuration>